---
layout: main
title: Hello World!
ng-app: demo
---

[[>jumbotron]]

<div class="container-fluid" ng-controller="IndexController as index">
    <h3>Messages stored on Google Data Store:</h3>

    <ul ng-cloak>
        <li ng-repeat="message in index.messages track by $index">
            {{message}}
        </li>
    </ul>

    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" ng-model="message" class="form-control" id="message" placeholder="Enter a new message">
        </div>
        <button type="submit" class="btn btn-default" ng-click="index.create(message)">Add</button>
    </form>
</div>

<script src="/webjars/angularjs/1.3.3/angular.min.js"></script>
<script src="/demo.js"></script>